<nav
  class="navbar"
  [ngClass]="{ expanded: showExpandedNavbar }"
  (mouseenter)="showExpandedNavbar = true"
  (mouseleave)="showExpandedNavbar = false"
>
  <div>
    <ul class="navbar-list">
      <li class="navbar-item">
        <img
          src="../../../assets/menu.png"
          alt="menu"
          class="navbar-icon"
          id="menu-icon"
        />
      </li>
      <a routerLink="/home" class="navbar-item">
        <img src="../../../assets/home.png" alt="Home" class="navbar-icon" />
        <span class="navbar-icon-name">Home</span>
      </a>
      <a routerLink="/play" class="navbar-item">
        <img
          src="../../../assets/strategy.png"
          alt="Play"
          class="navbar-icon"
        />
        <span class="navbar-icon-name">Play</span>
      </a>
      <a class="navbar-item">
        <img
          src="../../../assets/robot.png"
          alt="Computer"
          class="navbar-icon"
        />
        <span class="navbar-icon-name">Computer</span>
      </a>
      <a class="navbar-item">
        <img src="../../../assets/man.png" alt="Profile" class="navbar-icon" />
        <span class="navbar-icon-name">Profile</span>
      </a>
    </ul>
  </div>
  <div>
    <a class="navbar-item">
      <img src="../../../assets/id-card.png" alt="about" class="navbar-icon" />
      <span class="navbar-icon-name">About Dev</span>
    </a>
  </div>
</nav>
