<div class="homepage">
  <app-navbar></app-navbar>
  <div class="image-section">
    <img
      src="../../../assets/standardboard.1d6f9426.png"
      alt="Homepage Image"
    />
  </div>
  <div class="content-section">
    <ul class="title">
      Play Chess Online on the #1 Site!
    </ul>
    <div class="info">
      <div class="numberinfo">
        <ul class="number">
          {{
            noOfPlayers
          }}
        </ul>
        <ul>
          Playing Now
        </ul>
      </div>
      <div class="numberinfo">
        <ul class="number">
          {{
            noOfGames
          }}
        </ul>
        <ul>
          Games Today
        </ul>
      </div>
    </div>
    <div class="homepage-buttons">
      <a class="button" id="online">
        <img
          src="../../../assets/strategy.png"
          alt="Image"
          class="button-image"
        />
        <div class="button-text">
          <ul class="button-title">
            Play Online
          </ul>
          <ul class="button-subtitle">
            Play with someone at your level
          </ul>
        </div>
      </a>
      <a class="button" id="computer">
        <img src="../../../assets/robot.png" alt="Image" class="button-image" />
        <div class="button-text">
          <ul class="button-title">
            Play Computer
          </ul>
          <ul class="button-subtitle">
            Play vs a training bot
          </ul>
        </div>
      </a>
    </div>
  </div>
</div>
