img {
  display: flex;
  width: 80px;
  height: 80px;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE Edge */
  user-select: none; 
}
.row {
  display: flex;
  cursor: grab;
}
.selected {
  background-color: #baca44;
  cursor: grabbing;
}

.even {
  background-color: #769656;
}

.odd {
  background-color: #eeeed2;
}
.pieceselected {
  background-color: #ca6e44;
  cursor: grabbing;
}
.dot {
cursor: grabbing;
  border-radius: 50%;
  background-color: #d6d6bd;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  height: 50px;
  width: 50px;
}
.pieces{
  pointer-events: none;
}